body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D8DADB;
}
.container {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 20px;
  text-align: center;
  font-size: 1.2em;
}
.card-item {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  width: 100%;
  margin: 10px 0;
  background-color: #FFF;
}
.card-item ul li {
  padding: 10px 15px;
}
.card-item-2 {
  flex-direction: column;
}
.card-item-icon {
  display: flex;
  align-items: center;
  background-color: rgba(51, 76, 115, 0.8);
  padding: 10px 20px;
  color: #FFF;
}
.card-item-info {
  display: flex;
  justify-content: space-around;
  width: 100%;  
}
.card-item-head ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 15px 0;
  font-size: 0.8rem;
  border-bottom: 1px solid #000;
}
.card-item-head ul li {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}
.card-item-head ul li i {
  padding-bottom: 10px;
}
.title {
  color: #D8DADB;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #A7B8C0;
  background-color: #334C73;
  width: 100%;
}
.title-1 {
  font-weight: bold;
  text-align: center;
}
.card-item img {
  max-width: 100%;
  height: auto;
}

.card-item-grid-2 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.card-item-grid-col {
  text-align: left;
  display: grid;
  justify-content: space-around;
  align-content: start;
}
.card-item-grid-col-info ul {
  font-size: 0.9rem;
}

.card-item-grid-col-info ul li i{
  padding-right: 5px;
}